<h1>Editando departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Visualizar departamento', @departamento, class:"btn btn-default" %> |
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
